body {
  background-color: #dddddd;
}

.bg-muted {
  background-color: #ffffff;
  color: #000000;
}

.menu-item {
  cursor: pointer;
  margin-left: 16px;
  &:hover {
    color: #337ab7;
  }
}

.footer {
  color: #666666;
}

.panel-heading {
  a:link {
    color: #ffffff;
  }
  a:active {
    color: #ffffff;
  }
  a:visited {
    color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
}

.avatar {
  width: 150px;
  height: 150px;
}

.badge {
  background-color: #337ab7;
  padding: 8px;
}

.panel-primary>.panel-heading {
  background-image: url('../images/paper.jpg');
  color: #ffffff;
}

.btn-primary {
  background-image: url('../images/paper.jpg');
}

.badge {
  background-image: url('../images/paper.jpg');
}

#guido {
  a:link {
    color: #ffffff !important;
  }
  a:active {
    color: #ffffff !important;
  }
  a:visited {
    color: #ffffff !important;
  }
  a:hover {
    color: #ffffff !important;
  }
}