body {
  background-color: #dddddd; }

.bg-muted {
  background-color: #ffffff;
  color: #000000; }

.menu-item {
  cursor: pointer;
  margin-left: 16px; }
  .menu-item:hover {
    color: #337ab7; }

.footer {
  color: #666666; }

.panel-heading a:link {
  color: #ffffff; }
.panel-heading a:active {
  color: #ffffff; }
.panel-heading a:visited {
  color: #ffffff; }
.panel-heading a:hover {
  color: #ffffff; }

.avatar {
  width: 150px;
  height: 150px; }

.badge {
  background-color: #337ab7;
  padding: 8px; }

.panel-primary > .panel-heading {
  background-image: url("../images/paper.jpg");
  color: #ffffff; }

.btn-primary {
  background-image: url("../images/paper.jpg"); }

.badge {
  background-image: url("../images/paper.jpg"); }

#guido a:link {
  color: #ffffff !important; }
#guido a:active {
  color: #ffffff !important; }
#guido a:visited {
  color: #ffffff !important; }
#guido a:hover {
  color: #ffffff !important; }
