.project {
  text-align: left;
  background-color: #fff;
  padding: 0.5em;
  cursor: pointer;
  min-height: 15em;
  img {
    float: right;
    padding-left: 0.25em;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
  }
  h5 {
    font-weight: normal;
  }
  h3 {
    text-decoration: underline;
  }
}

.guido {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/guido.jpg) no-repeat;
}

.simone {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/simone.png) no-repeat;
}

.stefano {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/stefano.png) no-repeat;
}