body {
  background-color: #dddddd; }

.bg-muted {
  background-color: #ffffff;
  color: #000000; }

.menu-item {
  cursor: pointer;
  margin-left: 16px; }
  .menu-item:hover {
    color: #337ab7; }

.footer {
  color: #666666; }

.panel-heading a:link {
  color: #fff; }
.panel-heading a:active {
  color: #fff; }
.panel-heading a:visited {
  color: #fff; }
.panel-heading a:hover {
  color: #fff; }

.avatar {
  width: 150px;
  height: 150px; }

.badge {
  background-color: #337ab7;
  padding: 8px; }
