.inner_page {
  margin-top: 16px;
  h1 {
    font-size: 2em;
    letter-spacing: -0.015em;
    font-weight: bold;
    color: #43bff0;
  }
  h2 {
    font-size: 1.5em;
    letter-spacing: -0.015em;
    font-weight: bold;
    color: #43bff0;
  }
  p {
    font-size: 1.2em !important;
  }
  pre {
    line-height: 1.5em;
    margin-bottom: 2em !important;
    text-align: left;
    padding: 1em !important;
  }
}

table {
  thead {
    background-color: #303030;
    color: #fff;
    font-weight: 600;
    th {
      padding: 1em;
    }
  }
  tbody {
    td {
      padding: 1em;
    }
  }
}