[submodule "modules/geobricks_modis"]
	path = modules/geobricks_modis
	url = https://github.com/geobricks/geobricks_modis.git
[submodule "js/modules/geobricks_modis"]
	path = js/modules/geobricks_modis
	url = https://github.com/geobricks/geobricks_modis.git
[submodule "js/modules/fenix-ui-common"]
	path = js/modules/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common.git
[submodule "js/modules/geobricks_trmm"]
	path = js/modules/geobricks_trmm
	url = https://github.com/geobricks/geobricks_trmm.git
[submodule "js/modules/geobricks_raster_correlation"]
	path = js/modules/geobricks_raster_correlation
	url = https://github.com/geobricks/geobricks_raster_correlation.git
