[submodule "js/modules/geobricks_rest_engine"]
	path = js/modules/geobricks_rest_engine
	url = https://github.com/geobricks/geobricks_rest_engine.git
[submodule "js/modules/geobricks_raster_correlation"]
	path = js/modules/geobricks_raster_correlation
	url = https://github.com/geobricks/geobricks_raster_correlation.git
[submodule "js/modules/Leaflet.GeoJSON.Encoded"]
	path = js/modules/Leaflet.GeoJSON.Encoded
	url = https://github.com/geobricks/Leaflet.GeoJSON.Encoded.git
