<script type='text/x-handlebars-template' id='structure'>
    <div class='container bg-muted'>
        <section id='header'>
            <div class='hidden-xs hidden-sm hidden-md hidden-print'>
                <br>
                <div data-role='header'>
                    <div class='row'>
                        <div class='col-lg-12 pull-right'>
                            <span class='pull-right text-right menu-item'>
                                <a href='#home'>
                                    <i class='fa fa-home'></i> Home
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <div data-role='content'>
            <section id='home'>
                <div class='row'>
                    <div class='col-lg-4 hidden-xs hidden-sm hidden-md hidden-print'>
                        <img src='images/github.png' class='img-responsive img-circle' style='width: 75%; heigth: 75%;'>
                    </div>
                    <div class='col-lg-8'>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <h1>
                                    Browse Geobricks Projects
                                </h1>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <p style='font-size: 22px; font-weight: 100;'>
                                    Everything we made so far. In <b>one</b> convenient place.
                                </p>
                            </div>
                        </div>
                        <!--<br>-->
                    </div>
                </div>
            </section>
            <hr>
            <section id='footer'>
                <div data-role='footer' class='footer'>
                    <div class='row'>
                        <div class='col-lg-12 text-center'>
                            © Geobricks 2015. All rights reserved.
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </div>
    </div>
</script>